# Jetbrains tools ######################################################################################################

.idea

# Docker ###############################################################################################################

.env
